<div style="max-width: 800px; margin: 0 auto;">
  <h1 style="font-size: 18px; font-weight: bold; margin-bottom: 20px;">
      Hello there! I am Chandra Vishal, an aspiring web developer with a fervent passion for web technologies and software development, coupled with a deep love for space and astronomy. This website stands as a testament to my dedication, blending my expertise in backend development with my fascination for the cosmos. 
  </h1>

  <p style="font-size: 15px; font-weight: bold; margin-bottom: 20px;">
    I founded Astrosapientes, a vibrant platform that has connected over 110,000 individuals globally with a reach exceeding 25 million in 2022, sharing captivating insights into the wonders of space, science and astrophysics. 
   </p>


  <p style="font-size: 16px; margin-bottom: 10px;">
      Astrosapientes is more than just a website; it's a community-driven endeavor that aims to make science accessible to all. I've curated over 700 simplified posts covering a myriad of scientific topics. Through collaborations with esteemed partners, including a NASA Solar System Ambassador, I've fostered meaningful relationships to expand our reach and impact.
  </p>

  <p style="font-size: 16px; margin-bottom: 10px;">
      My dedication to web development and science communication underscores my commitment to solving real-world problems. By leveraging technology to share the wonders of the universe, I aspire to inspire and educate individuals worldwide, fostering a community united by curiosity and discovery.
  </p>
</div>