<h1 style="text-align: center; margin: 0;">
  <a href="https://linkedin.com/in/chandravishaal/" target="_blank" style="font-size: 16px; text-decoration: none; color: black; display: block; margin: 5px auto; padding: 5px;">
    <i class="fab fa-linkedin" style="margin-right: 10px;"></i> LinkedIn
  </a>
</h1>
<h1 style="text-align: center; margin: 0;">
  <a href="https://www.instagram.com/astrosapientes/" target="_blank" style="font-size: 16px; text-decoration: none; color: black; display: block; margin: 5px auto; padding: 5px;">
    <i class="fab fa-instagram" style="margin-right: 10px;"></i> Instagram
  </a>
</h1>

 